*{
	margin:0px;
}
.container{
	margin:auto;
	width:1000px;
	background-color:#EEF7FD;
}
.container h1{
	text-align:center;	
}
form{
	padding:30px;
}
form label{
	font-size:18px;
	padding-right:3px;
}
.btn{
	margin:auto;
	width:300px;
	padding-left:50px;
}
span{
	color:red;
}